.table {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .table-container {
    overflow-x: auto;
    padding: 16px;
  }
}

.header {
  margin-top: 1rem;
  padding: 0 16px;
}

.filters {
  padding: 0 16px;
}