@if (sourceData) {
  <table mat-table [dataSource]="sourceData" class="mat-elevation-z8">
    @for(item of bindDisplayedColumnWithElement; track item) {
      <ng-container [matColumnDef]="item.def">
        <th mat-header-cell *matHeaderCellDef>{{ item.displayColumnName }}</th>
        <td mat-cell *matCellDef="let element">{{element[item.elementName]}}</td>
      </ng-container>
    }
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
}